body {
    margin: 0;
    overflow: hidden;
    background: radial-gradient(circle, rgba(3, 155, 229, 1) 20%, rgba(1, 51, 75, 1) 120%);
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    position: relative;
}

/* First Intro Section */
.first-intro {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: #ffffff;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);

}

.first-intro h1 {
    transform: translateY(-100px);

    opacity: 0;
    animation: towerEffect 2.5s forwards cubic-bezier(0.25, 1, 0.5, 1);
    letter-spacing: 3px;

    text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.9);

}

.first-intro h1:nth-child(1) {
    animation-delay: 0.5s;
}

.first-intro h1:nth-child(2) {
    animation-delay: 1.5s;
}

.first-intro h1:nth-child(3) {
    animation-delay: 2.5s;
}

/* Second Intro Section */
.second-intro .greet {
    font-size: 150px;
    font-family: 'Poppins', sans-serif;
    color: #00d4ff;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
    text-align: center;
    animation: fadeIn 2s forwards ease-in-out;
    opacity: 0;
    animation-delay: 3s;
}


@keyframes towerEffect {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


body {
    background: linear-gradient(135deg, rgba(10, 161, 177, 0.73), #00334d, #005580);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: relative;
}
